.app{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.formBox{
    background-color: white;
    width: 100%;
    margin-top: 32px;
    margin-right: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    padding: 32px;
}
.formBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}
.leftInput{
    width: 100%;
    height: 75vh;
    overflow: scroll;
    padding-right: 48px;
}
.rightInput{
    width: 100%;
}
.formFooter{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-top:8px;
    border-top: 0.5px solid grey;
}
.leftInput::-webkit-scrollbar {
    display: none;
  }
  
  .leftInput::-webkit-scrollbar-track {
    display: none;
  }
  
  .leftInput::-webkit-scrollbar-thumb {
    display: none;
  }
  
  .leftInput::-webkit-scrollbar-thumb:hover {
    display: none;
  }
  
