.plain-chip {
    display: flex;
    align-items: center;
    padding: 4.148px 11.407px;
    gap: 8.148px;
    border: 0.5px solid #4A45FF;
    border-radius: 26.074px;
    background: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .plain-chip:hover {
    background-color: #f0f0f0;
  }
  
  .plain-chip span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .remove-button {
    width: 10px;
    height: 10px;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .remove-button:focus {
    outline: none;
  }
  